astroid==2.5.6
ccimport
cumm-cu114
dataclasses
easydict
fire
hydra-core==1.1.0
isort==4.2.5
lark
lazy-import
lazy_object_proxy==1.4.0
librosa
llvmlite==0.36.0
lpips
ninja
numba==0.53.1
nvidia-ml-py
omegaconf==2.2.0
# Install onnx-graphsurgeon with extra-index-url
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
onnx-simplifier
onnxoptimizer
onnxruntime>=1.7.0
opencv-python
pccm
pyarmor
pycocotools
pycuda
pydocstyle==3.0.0
pylint==2.2.2
pyquaternion
pytorch-lightning==1.6.0
pytorch-msssim
pyyaml
scikit-image
soundfile
spconv-cu114
tensorboardX
tensorrt
tifffile
torchmetrics>=0.4.1rc0
transformers==4.8.2
tokenizers==0.10.3
unidecode==1.2.0
wandb==0.12.17
