astroid==2.4.2
ccimport
cumm-cu114
easydict
fire
#https://gitlab-master.nvidia.com/zhimengf/tensorrt/-/raw/master/8.2.3.0/11.4/Ubuntu20_04-x64/whl/tensorrt-8.2.3.0-cp38-none-linux_x86_64.whl
hydra-core==1.1.0
lark
lazy-import
librosa
llvmlite==0.36.0
lpips
ninja
numba==0.53.1
omegaconf==2.2.0
# Install onnx-graphsurgeon with extra-index-url
--extra-index-url https://pypi.ngc.nvidia.com
onnx-graphsurgeon
onnx-simplifier
onnxoptimizer
onnxruntime>=1.7.0
opencv-python
pccm
pyarmor
pycuda
pydocstyle==3.0.0
pylint==2.2.2
pyquaternion
pytorch-lightning==1.6.0
pytorch-msssim
pyyaml
scikit-image
soundfile
spconv-cu114==2.1.21
tensorboardX
tifffile
torchmetrics>=0.4.1rc0
transformers==4.8.2
tokenizers==0.10.3
