absl-py>=0.7.1
addict==2.1.0
cython==0.29.35
clearml<=1.7.1rc1
cryptography==41.0.0
flake8==6.0.0
future==0.18.3
graphviz==0.20.1
grpcio==1.26.0
keras==2.2.4
keras_metrics==1.1.0
keras2onnx==1.7.0
llvmlite==0.40.0rc1
nvidia-ml-py==11.515.75
# downgrading to 1.17.0 due to a change in the dali tf plugin behaviour.
nvidia-dali-cuda110==1.17.0
nvidia_dali_tf_plugin_cuda110==1.17.0
matplotlib>=3.0.3
mpi4py>=3.0.3
numpy==1.22.2
numba==0.57.0rc1
omegaconf==2.1.0
onnx==1.13.0
onnx-graphsurgeon==0.3.26
opencv-python==4.7.0.68
onnxruntime==1.14.0
parameterized<=0.9.0
Pillow<9.0.0
posix_ipc==1.0.4
prettytable==0.7.2
pyarmor==7.7.4
pyarrow==8.0.0
pycuda==2022.2.2
pydocstyle==6.3.0
pyflakes==3.0.1
pyjwt
pylint==2.16.2
PyYAML==5.4
pytest==7.2.1
pytest-console-scripts==1.3.1
requests>=2.28.2
requests_toolbelt
retrying==1.3.3
scipy==1.5.4
scikit-image==0.17.2
scikit-learn==1.2.2
seaborn==0.7.1
semver==2.7.9
shapely==1.5.17
six>=1.12.0
simplejson==3.18.3
tabulate==0.9.0
tf2onnx==1.9.2
tqdm>=4.19.5
toposort==1.5
uplink==0.5.5
urllib3==1.26.5
wandb<=0.13.4
https://files.pythonhosted.org/packages/d1/c2/c14dd8884a5bc05ca07331b3d78a92812eb19e25a625a0b59af8b609a93f/nvidia_eff_tao_encryption-0.1.7-cp38-cp38-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
https://files.pythonhosted.org/packages/cf/ec/47f770919111bcd7047e463389e7f763afbc6ae7b96cbd4be974342a5bb1/nvidia_eff-0.6.2-py38-none-manylinux_2_17_x86_64.manylinux2014_x86_64.whl
# Required for nvidia_eff_tao_encryption
xmltodict==0.12.0
