# make sure these python wheels align with those in dazel
# refer to: ci/runtime_resources/requirements-pip-py3.bzl

addict==2.1.0
argcomplete==1.9.4
argparse==1.4.0
boto3==1.9.13
clearml==1.7.1rc1
cryptography==3.4.8
future==0.17.1
grpcio==1.26.0
h5py==2.8.0
jupyter==1.0.0
keras==2.2.4
keras_metrics==1.1.0
keras2onnx==1.7.0
llvmlite==0.32.0
mpi4py==3.0.3
numba==0.47
numpy==1.19.4
onnx==1.8.1
onnxruntime==1.8.0
onnx_graphsurgeon
opencv-python==4.2.0.32
pandas==0.25.3
posix_ipc==1.0.4
prettytable==0.7.2
pyarrow==0.11.1
pycocotools-fix==2.0.0.9
pycuda==2020.1
pyjwt==1.5.3
PyYAML==5.4
recordclass==0.13.1
requests==2.20.1
requests_toolbelt==0.8.0
retrying==1.3.3
seaborn==0.7.1
setuptools
scikit-image==0.17.2
scikit-learn==0.24.2
scipy==1.5.4
semver==2.7.9
shapely
simplejson==3.13.2
six==1.13.0
tabulate==0.7.5
tf2onnx==1.9.2
toposort==1.5
tqdm==4.19.5
uplink==0.5.5
uff
urllib3<1.25
xmltodict==0.12.0
git+https://github.com/NVIDIA/dllogger.git